---
import OfertaLayout from '../../layouts/OfertaLayout.astro';
---

<OfertaLayout title="Armatura z tworzyw sztucznych">
  <p>Oferujemy armaturę przemysłową z PVC, PP, PVDF. Oferta obejmuje:</p>

  <ul>
    <li>zawory kulowe,</li>
    <li>przepustnice,</li>
    <li>zawory membranowe,</li>
    <li>zawory zwrotne,</li>
    <li>wzierniki,</li>
    <li>armaturę regulacyjną,</li>
    <li>filtry i osadniki zanieczyszczeń,</li>
    <li>armaturę pomiarową,</li>
    <li>rotametry, regulatory ciśnienia, poziomu, temperatury,</li>
    <li>armaturę automatyczną,</li>
    <li>armatura specjalna.</li>
  </ul>

  <p>Jesteśmy przedstawicielami i partnerami w Polsce firm PRAHER, ASV STUBBE i SAFI oferujących m.in.:</p>

  <ul>
    <li>zawory kulowe, zwrotne, grzybkowe,</li>
    <li>zasuwy klinowe, zasuwy nożowe,</li>
    <li>przepustnice międzykołnierzowe,</li>
    <li>filtry,</li>
    <li>kurki kulowe,</li>
    <li>zawory membranowe,</li>
    <li>wzierniki,</li>
    <li>zawory regulacyjne oraz armaturę specjalną.</li>
  </ul>

  <div class="flex flex-wrap gap-8 items-center my-8">
    <a href="https://www.praher-plastics.com/" target="_blank" rel="noopener">
      <img src="https://s3-eu-west-1.amazonaws.com/andreas-biz-pl/logos/praher.jpg" alt="PRAHER" class="h-16" />
    </a>
    <a href="https://www.asvstubbe.it/" target="_blank" rel="noopener">
      <img src="https://andreas-biz-pl.s3.eu-west-1.amazonaws.com/logos/asv_stubbe.png" alt="ASV STUBBE" class="h-16" />
    </a>
    <a href="https://www.safi-valves.com/" target="_blank" rel="noopener">
      <img src="https://www.safi-valves.com/application/themes/safi/img/logo-safi.png" alt="SAFI" class="h-12" />
    </a>
  </div>

  <p>
    <a href="https://s3-eu-west-1.amazonaws.com/andreas-biz-pl/documents/praher-cennik-2019.pdf" target="_blank" class="inline-flex items-center text-blue-600 hover:text-blue-800">
      <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"></path>
      </svg>
      Cennik armatura PRAHER 2020
    </a>
  </p>

  <p>
    <a href="https://s3-eu-west-1.amazonaws.com/andreas-biz-pl/documents/praher-katalog-2019.pdf" target="_blank" class="inline-flex items-center text-blue-600 hover:text-blue-800">
      <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"></path>
      </svg>
      Katalog techniczny PRAHER 2020
    </a>
  </p>

  <p class="mt-6 p-4 bg-yellow-50 rounded-lg text-yellow-800">
    <strong>Wszystkie ceny są cenami netto od których udzielamy rabatu do 40%.</strong>
  </p>
</OfertaLayout>
