---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Bramy wjazdowe z TWS">
  <p>
    Bramy kompozytowe, kompletnie wykonane z GRP (TWS), stanowią doskonałe uzupełnienie
    ogrodzeń. W porównaniu z tradycyjnymi bramami metalowymi, posiadają one szereg zalet, w tym:
  </p>

  <ul>
    <li>Wysoką odporność na związki chemiczne.</li>
    <li>Wysoką wytrzymałość mechaniczną.</li>
    <li>Stosunkowo niską wagę.</li>
    <li>Stabilność wymiarową.</li>
    <li>Duże właściwości dielektryczne.</li>
    <li>Minimalne wymagania konserwacyjne.</li>
  </ul>

  <p>Bramy te są prefabrykowane w zakładzie produkcyjnym i dostępne w dwóch wersjach:</p>

  <ul>
    <li>Brama wjazdowa dwuskrzydłowa z ręcznym zamknięciem – posiada znak CE.</li>
    <li>Brama dla ruchu pieszego, jednoskrzydłowa z ręcznym zamknięciem.</li>
  </ul>

  <p>
    Bramy kompozytowe (GRP, TWS) posiadają znak CE zgodnie z normą EU No. 305/2011 i są
    testowane zgodnie z normą EN 13241-1.
  </p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/bramy1.jpg" alt="Bramy wjazdowe" />
  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/bramy2.jpg" alt="Bramy wjazdowe" />
</ProduktLayout>
