---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Kładki i pomosty">
  <h3>Pomosty dla przystani portowych, mola nadmorskie</h3>

  <p>
    Andreas oferuje innowacyjne kładki dla przystani i mól nadmorskich. Dzięki odporności na sól,
    ograniczoną rozszerzalność cieplną i bezpoślizgowość, jak również zgodnie ze standardem
    DIN 51097 (przystosowanie do chodzenia boso) i odporności na UV, oferujemy idealny produkt
    na powierzchnie doków i przystani turystycznych.
  </p>

  <p>
    Nasz produkt jest lekki, łatwy do instalacji i niewymagający dodatkowej konserwacji.
    Dzięki tym charakterystykom, nasz produkt jest idealny dla operatorów przestrzeni nadwodnych
    i prywatnych przystani. Produkt dostępny w wielu kolorach i może być dostosowany do
    indywidualnych potrzeb.
  </p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/mm_photos/20150706_120408.jpg" alt="Kładki i pomosty" />
</ProduktLayout>
