---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Kraty przewodzące/antystatyczne">
  <p>
    <strong>Kratki pomostowe i profile ANDREAS są wytwarzane zgodnie z oryginalną i opatentowaną
    technologią, opartą głównie na metodzie wtryskowej (RTM) i pultruzji (przeciągania włókna).</strong>
  </p>

  <p>
    Nowatorska technologia RTM polega na procesie wtrysku żywicy do formy wtryskowej,
    a włókna szklane są umieszczane w formie wtryskowej prostokątnie, co zapewnia
    wytrzymałość mechaniczną wyrobu końcowego:
  </p>

  <ul>
    <li>Forma wtryskowa jest hermetycznie uszczelniona płytą dociskową za pomocą specjalnego systemu hydraulicznego.</li>
    <li>Uszczelnienie formy wtryskowej pozwala na osiągnięcie lepszej i pełnej polimeryzacji i powoduje, że proces odbywa się w warunkach największej ilości ciepła wytwarzanego w czasie reakcji egzotermicznej.</li>
    <li>Na proces ten warunki zewnętrzne wytwarzania produktu mają bardzo ograniczony wpływ.</li>
    <li>Różne rodzaje żywic mogą być wtryskiwane do form, a są nimi między innymi poliestry, estry winylowe i żywice epoksydowe z dodatkiem katalizatorów.</li>
  </ul>

  <p>
    Technologia RTM pozwala na projektowanie specjalnych kratek różnych typów, o różnych
    podziałkach, wysokości, kształtu. Zapewnia produkcję kratek krytych jednostronnie,
    dwustronnie. Pozwala na produkcję dużych serii wyrobów, jak też wyrobów jednostkowych.
    Obróbka końcowa kratek polega na ich szlifowaniu oraz na malowaniu.
  </p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/pomost.jpg" alt="Pomost" />

  <p>
    <strong>Firma ANDREAS dostarcza swoje kratki w wymiarach (cięcie liniowe, cięcie po krzywej)
    według życzeń klienta, jak również profile produkowane metodą przeciągania włókna (pultruzji).</strong>
  </p>

  <p>
    Pultruzja łączy w sobie proces "ciągnienia" oraz "wytłaczania", co oznacza "wytłaczanie
    przez ciągnienie" - jest to proces ciągły stosowany do produkcji profilów z polimerów
    wzmacnianych włóknem, które to włókno jest perfekcyjnie ułożone w formie przed procesem
    polimeryzacji.
  </p>

  <p>
    Kratki są dostarczane w postaci monolitycznych paneli, tak, że mogą być swobodnie
    stosowane na przejścia, pomosty serwisowe, przykrycia kanałów, kratki ściekowe,
    zabezpieczenia pól elektrycznych itp.
  </p>

  <p>
    <strong>Kratki ANDREAS zostały przebadane przez niezależny instytut na ich właściwości
    mechaniczne, zostały poddane cyklom obciążeń na działanie ciepła/zimna i oddziaływania
    wilgotności zgodnie z normą UNI EN ISO 9142.</strong>
  </p>

  <p class="bg-yellow-50 p-4 rounded-lg">
    <strong>Firma nie dysponuje cennikami, bo do każdego zapytania trzeba podejść indywidualnie.
    Zapraszamy do kontaktu!</strong>
  </p>

  <p>
    <a href="https://s3-eu-west-1.amazonaws.com/andreas-biz-pl/documents/kraty.antystatyczne.docx" target="_blank" class="text-blue-600">
      Zobacz dodatkowe materiały na temat krat antystatycznych
    </a>
  </p>
</ProduktLayout>
