---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Kraty o podwyższonej odporności chemicznej wykonane z żywic ftalowych i winylowych">
  <p>
    Kraty ANDREAS oferowane są na jednej z linii z przeznaczeniem dla przemysłu i stosowania
    ich w miejscach gdzie jest wymagana szczególnie wysoka odporność chemiczna.
  </p>

  <p>
    Kratki te montuje się w środowiskach agresywnych chemicznie, takich jak środki chemiczne,
    galwaniczną, przemysł wydobywczy, produkcja przemysłowa (garbarnie, papiernie, itp.)
    i utylizacji odpadów.
  </p>

  <p>
    Linia ta charakteryzuje się wykorzystaniem czystej żywicy kwasu izoftalowej lub
    winyloestrowej, które są wolne od dodatków, a technologia produkcji tych kratek jest
    na znacznie wyższym poziomie w porównaniu ze standardową kratką w celu zapewnienia
    całkowitego pokrycia włókna szklanego.
  </p>

  <p>Zobacz dodatkowe materiały:</p>

  <ul>
    <li>
      <a href="https://s3-eu-west-1.amazonaws.com/andreas-biz-pl/documents/kraty.wysoka.odpornosc.docx" target="_blank" class="text-blue-600">
        Kraty o wysokiej odporności chemicznej
      </a>
    </li>
    <li>
      <a href="https://s3-eu-west-1.amazonaws.com/andreas-biz-pl/documents/kraty.odpornosc.uv.docx" target="_blank" class="text-blue-600">
        Kraty o wysokiej odporności UV
      </a>
    </li>
  </ul>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/mm_photos/resistance1.jpg" alt="Kraty o wysokiej odporności" />
  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/mm_photos/resistance2.jpg" alt="Kraty o wysokiej odporności" />
</ProduktLayout>
