---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Kraty ogólnego przeznaczenia">
  <p>
    Kratki ANDREAS z żywicy wzmacnianej włóknem szklanym są wytwarzane według technologii
    formowania wtryskowego i są dostarczane w różnych rozmiarach, w celu zapewnienia
    idealnego dopasowania do różnych problemów montażowych. Składają się one z monolitycznych
    płyt, które są bardzo proste i szybkie w montażu.
  </p>

  <p>
    Kratki ANDREAS są używane głównie na przejściach, powierzchniach usługowych, chodnikach,
    pokrywach kanałów i oczyszczalniach ścieków.
  </p>

  <p>
    Kratki ANDREAS są zaprojektowane jako produkt o wysokim bezpieczeństwie i są wytwarzane
    przy zachowaniu najbardziej rygorystycznych procedur kontrolnych zgodnie z normą DIN 25.437-3.
  </p>

  <p>
    Kratki ANDREAS mogą być dostarczone z powierzchnią antypoślizgową, certyfikowane zgodnie
    z normą DIN E 51130 (oznaczenie odporności na poślizg), w następujących wersjach:
  </p>

  <ul>
    <li>z trwałą antypoślizgową powierzchnią w postaci menisku (certyfikat R13-V10),</li>
    <li>ze stałą antypoślizgową powierzchnią pokrytą kwarcem (certyfikat R13-V4).</li>
  </ul>

  <p>
    Kratki ANDREAS otrzymały certyfikat trwałości, co oznacza, że nie ulegają pogorszeniu
    ich parametry mechaniczne przy poddawaniu próbom cykli ciepło/zimno, wilgotności zgodnie
    z UNI EN ISO 9142. Kratki ANDREAS przeszły również badania odporności na starzenie przy
    cyklach naświetlania UV zgodnie z normą ASTM G154.
  </p>

  <p>
    Na wyraźne życzenie klienta, kraty mogą być dostarczane w wersji opóźnionego zapłonu
    zgodnie z EN13501, ASTM E84, ASTM D635, DIN 4102, NFP 92-507. Kraty ANDREAS mogą być
    również wyposażone w pokrycie antypoślizgowe (certyfikat R10-V10).
  </p>
</ProduktLayout>
