---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Akcesoria do krat pomostowych">
  <p>Firma ANDREAS oferuje akcesoria ze stali nierdzewnej do łączenia krat.</p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/akcesoria1.jpg" alt="Akcesoria do krat" />
  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/akcesoria2.jpg" alt="Akcesoria do krat" />
  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/akcesoria3.jpg" alt="Akcesoria do krat" />
</ProduktLayout>
