---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Ogrodzenia z TWS">
  <p>
    Ogrodzenia kompozytowe są jednym z podstawowych produktów naszej firmy. Ich główne
    zastosowanie to miejsca, gdzie wymagana jest odporność na korozję oraz tam, gdzie
    konieczne jest zapewnienie odpowiedniej izolacji.
  </p>

  <p>
    Dodatkowo, nasze ogrodzenia (płoty) są stosowane w zakładach produkcyjnych i elektrowniach,
    aby ogrodzić urządzenia znajdujące się pod napięciem. Ogrodzenia są zaprojektowane przez
    inżynierów producenta w taki sposób, aby zoptymalizować koszty. Zapewniamy szybki montaż
    i demontaż paneli ogrodzeniowych.
  </p>

  <p>Główne zastosowania kompozytowych paneli ogrodzeniowych (GRP, TWS) to:</p>

  <ul>
    <li>Elektrownie.</li>
    <li>Miejsca dostawy energii geotermalnej.</li>
    <li>Stacje transformatorowe.</li>
    <li>Podstacje zasilania kolei.</li>
    <li>Wyposażenie tuneli kolejowych.</li>
  </ul>

  <p>Ogrodzenia dostarczane są w postaci wstępnie zmontowanych paneli.</p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/ogrodzenia1.jpg" alt="Ogrodzenia" />
  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/ogrodzenia2.jpg" alt="Ogrodzenia" />
  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/ogrodzenia3.jpg" alt="Ogrodzenia" />
</ProduktLayout>
