---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Płyty laminowane z TWS">
  <p>
    Oferujemy płyty laminowane z tworzyw sztucznych wzmacnianych włóknem szklanym.
    Nasze produkty są idealne do różnorodnych zastosowań przemysłowych.
  </p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/plyty1.jpg" alt="Płyty laminowane" />
  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/plyty2.jpg" alt="Płyty laminowane" />
</ProduktLayout>
