---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Pokrywy studzienek kanalizacyjnych z TWS">
  <p>
    Oferujemy pokrywy studzienek kanalizacyjnych wykonane z tworzyw sztucznych wzmacnianych
    włóknem szklanym. Nasze produkty są lekkie, trwałe i odporne na korozję.
  </p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/pokrywy.jpg" alt="Pokrywy studzienek" />
</ProduktLayout>
