---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Pokrycia kanałów kanalizacyjnych i studzienek drenażowych">
  <p>
    ANDREAS oferuje pokrycia z tworzyw sztucznych wzmacniane włóknem szklanym. Produkt
    idealnie nadaje się do pokrywania studzienek drenażowych i kanałów kanalizacyjnych
    w środowiskach o zarówno niskim jak i wysokim napięciu.
  </p>

  <p>
    Wszystkie materiały są certyfikowane i zatwierdzone przez Enel. Materiały zostały także
    przetestowane i zaakceptowane zgodnie z głównymi standardami europejskimi.
  </p>

  <p>
    Dzięki własnościom chemicznym i fizycznym tworzyw sztucznych wzmacnianych włóknem szklanym,
    nasze pokrycia zapewniają doskonałą izolację elektryczną, wysoką mechaniczną wytrzymałość.
    Produkty wykonane w naszej technologii są bardzo lekkie, dzięki czemu są też bardzo łatwe
    w montażu.
  </p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/pokrycia.jpg" alt="Pokrycia kanałów" />
  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/pokrycia2.jpg" alt="Pokrycia kanałów" />
</ProduktLayout>
