---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Półprodukty z tworzyw sztucznych">
  <p>Oferujemy szeroką gamę półproduktów takich jak: wałki, profile, płyty, drut spawalniczy.</p>

  <p>Dostarczamy półprodukty z takich materiałów jak: PEHD, PP, PVDF, PVC, PE 1000, PTFE, POM, PA, itp.</p>
</ProduktLayout>
