---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Poręcze i balustrady z TWS">
  <p>
    Oferujemy poręcze i balustrady wykonane z tworzyw sztucznych wzmacnianych włóknem szklanym.
    Nasze produkty charakteryzują się wysoką odpornością na korozję, lekkością oraz łatwością
    montażu.
  </p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/porecze.jpg" alt="Poręcze i balustrady" />
</ProduktLayout>
