---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Profile kompozytowe z TWS">
  <p>
    Profile kompozytowe tworzone są wg tak zwanej technologii kompozytowej, używając płyt
    o szerokości 6 metrów w jasnych kolorach (standardowo żółty lub szary, choć możemy także
    wyprodukować profile w innych kolorach).
  </p>

  <p>
    Wykorzystujemy różnego rodzaju żywice (isophthalic bisphenolic, vinylester, odporne na
    płomienie, jak również inne żywice). Każdy typ profilu kompozytowego ma inne zastosowanie.
  </p>

  <p>
    Profile kompozytowe możemy podzielić na: profile do struktur, parapetowe, jak również
    inne profile. Profile dla struktur stanowią fundament struktur i muszą mieć wysoką
    wytrzymałość. Dla złożonych struktur, profile kompozytowe są klasyfikowane wg standardu
    EN 13706 E 23.
  </p>

  <p>
    Profile kompozytowe parapetowe używane są do stojących elementów, poręczy. Inne profile
    to np. pionowe drabiny.
  </p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/profile1.jpg" alt="Profile kompozytowe" />
  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/profile2.jpg" alt="Profile kompozytowe" />
</ProduktLayout>
