---
import ProduktLayout from '../../layouts/ProduktLayout.astro';
---

<ProduktLayout title="Stopnie schodowe">
  <p>
    ANDREAS dostarcza kraty wycięte do rozmiarów idealnie dopasowanych na proste,
    antypoślizgowe schody.
  </p>

  <img src="https://andreas-biz-pl.s3-eu-west-1.amazonaws.com/images/schody.jpg" alt="Stopnie schodowe" />
</ProduktLayout>
